.numLabel {
    text-align: center;
    font-size: 100;
    vertical-align: center;
    color: #29AC83;
  }
  
.numWordLabel {
    text-align: center;
    font-size: 60;
    vertical-align: center;
    color: #2994ac;
  }

  Button {
    height: auto;
  }