.aboutImage{
    width: 200;
    height: 250;
}

.aboutHead{
    color: #8360c3;
    font-weight: 900;
    margin-top: -30;
    margin-bottom: 10;
}


.aboutIcons{
    color: #2ebf91;
    font-size: 30;
}

Button {
    border-radius: 50%;
}